
# Nicholas Barinaga
# Envormental Impact of Spanish Agriculture
# CPSC 222 Spring 2024

In [4]:
# Package Importation
from sklearn.neighbors import KNeighborsRegressor
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns
import numpy as np
from sklearn.feature_selection import r_regression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import cross_val_score

# Introduction

---
## Domain
I have a paticular Interest in nature and things that grow. I also have a familial connection with Spain. I knew I wanted to study something relating to nature and agriculture excited me. To scope down my project I decided to qualify the scope to a single country, Spain. I felt that while many things impact carbon emission and pollution in a more general sense, that agriculture and livestock would have a paticular affect in emissions. The correlation between livestock production and emissions is perhaps to obvious and so I decided to focus on crop production.


---
## The Datasets
- For data on Spains agricultural production a data set was sourced from The Food and Agriculture Organization of the United Nations
- This source was very well documented which greatly aided in understanding attributes
- This source provided a tool for specifcying the range and scope of data to download

    - https://www.fao.org/faostat/en/#data/QCL

- For data on Spains emissions data was sourced from Our World In Data 

    - https://github.com/owid/co2-data

---
## Hypothesis


-   The production of a certain crops in Spain during a year have a direct impact on Spains carbon emissions for that year. There is a crop type which has a greatest level of effect on carbon emissions so that as that crop is produced in higher quanities, carbon emissions grow as a direct result.

## Classification Task

1.

# Data Analysis

--- 
## Agriculture Data

- When collectng data for Spains agricultre the FOA provided a very useful tool for selecting data. One could greatly vary the topic and scope of the data. This tool was very valuable as rather than having to refine a large and poorly organized data set, I was able iterativly change the parameters of the download to suit the needs of the project. 

- The inital idea was to look at individual crops. The number of crops produced however made this unweilding, so a final data set was settled upon that collected crop croups under the attribute title "Item".

    - An item groups all crops into categoreis like cereal, fruits, vegetables, oil producing crops, etc. 

    - This change afforded a more apporpriate scope and although graunality is lost, I believe more meaningful patterns will emerge.


- Below shows an example of some of the more important attributes. Of paticular interests are the "Item" "Year" "Element" and "Value" of an instance.
    - "Element" refers to what is being measured, in this case production which is the total domestic production of crop both in and outside the agricultural sector.

    - "Item" refers to the type of crop as discussed previously

    - "Year" refers to the year in which the production was measured

    - "Value" refers to the observed production value of a the crop type in that given year

    - "Unit" denotes the unit that value of production is measured in: here it is (T) tonnes

In [5]:
# Example of agriculture data
crops_groups = pd.read_csv('./data/spain_crops_groups.csv')
display(crops_groups.iloc[:3, 5:])

,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,Production,F1717,"Cereals, primary",1961,1961,t,7501313.0,A,Official figure,NaN
1,Production,F1717,"Cereals, primary",1962,1962,t,9274378.0,A,Official figure,NaN
2,Production,F1717,"Cereals, primary",1963,1963,t,9418967.0,A,Official figure,NaN

---
## Carbon Emissions Data

- This Data set was first found from an article from Our World In Data. The dataset was downloaded from Our World In Data's Co2 and Greenhouse Gas Emissions Database

- While this database provideds information on many forms of emissions, carbon dioxide emissions was the focus of this project.

In [6]:
# Example of carbon emissons data
carbon_emissions = pd.read_csv('./data/carbon_emissions.csv')
display(carbon_emissions.iloc[:3, 5:])

,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN